

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url(images/hero-bg-cus.png);
    background-size: cover; /* This will make the image cover the entire body */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-position: center; /* This will center the image */
}



  
  div {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  
  canvas {
    display: block;
    width: 100%;
    height: auto;
  }
  